  .footer{
    height:90px;
    width:100%;
    background-color:#AAAAAA;
      .footer__container{
        margin: 0 40px;
        height:100%;
        .footer__body{
          padding:20px 0;
          height:calc(100% - 40px);
          .footer__form{
            width:90%;
            height:50px;
            float:left;
            .footer__message{
              float:left;
              padding-left:10px;
              width:calc( 100% - 65px);
              height: 50px;
              border: none;
                  }
            .footer__image{
              width:40px;
              height:50px;
              float:left;
              background-color:white;
              line-height:50px;
              text-align:center;
                  }
            .footer__space{
              width:15px;
              height:50px;
              float:left;
                  }
                }
          .footer__btn{
            float:right;
            background-color:$lightblue;
            padding: 15px 20px;
            color:white;
            width:5%;
            height:20px;
            text-align:center;
            line-height:20px;
          }
        }
      }
    }
