@import "./reset";
@import "./variable";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.notice {
  background-color: #38AEF0;
  color: white;
  text-align: center;
}
@import "./side";
@import "./main";
@import "./main__footer"

