.user__bottom__content
  .user__bottom__content__name
    .user__bottom__content__name__list
      %p.group sample
      %p.message Good bye world
.user__bottom__content
  .user__bottom__content__name
    .user__bottom__content__name__list
      %p.group sample
      %p.message Hello world
