.side__group-content
  .side__group-content-name
    .side__group-content-name-list
      %p.group sample
      %p.message Good bye world
.side__group-content
  .side__group-content-name
    .side__group-content-name-list
      %p.group sample
      %p.message Hello world
