<div class="user__bottom__content">
      <div class="user__bottom__content__name">
        <div class="user__bottom__content__name__list">
          <p class="group">sample</p>
          <p class="message">Good bye world</p>
        </div>
      </div>
    </div>
<div class="user__bottom__content">
      <div class="user__bottom__content__name">
        <div class="user__bottom__content__name__list">
          <p class="group">sample</p>
          <p class="message">Hello world</p>
        </div>
      </div>
    </div>
