.bottom__content
  .content__name
    .name__list
      %p.group sample
      %p.message Good bye world
.bottom__content
  .content__name
    .name__list
      %p.group sample
      %p.message Hello world
