.main__container-content-body
  .main__container-content-body-name
    .main__container-content-body-name--user name
    .main__container-content-body-name--time 2019-01-28 00:00:00
  %p.message
    こんにちは
.main__container-content-body
  .main__container-content-body-name
    .main__container-content-body-name--user user name
    .main__container-content-body-name--time 2019-01-28 00:00:00
  %p.message
    おはよう
