.main__container__content__body
  .main__container__content__body__name
    .main__container__content__body__name__user user name
    .main__container__content__body__name__time 2019-01-28 00:00:00
  %p.message
    こんにちは
.main__container__content__body
  .main__container__content__body__name
    .main__container__content__body__name__user user name
    .main__container__content__body__name__time 2019-01-28 00:00:00
  %p.message
    おはよう
