.main__body
  .main__name
    .main__name--user user name
    .main__name--time 2019-01-28 00:00:00
  %p.message
    こんにちは
.main__body
  .main__name
    .main__name--user user name
    .main__name--time 2019-01-28 00:00:00
  %p.message
    おはよう
