.content__body
  .body__name
    .name--user user name
    .name--time 2019-01-28 00:00:00
  %p.message
    こんにちは
.content__body
  .body__name
    .name--user user name
    .name--time 2019-01-28 00:00:00
  %p.message
    おはよう
