<div class="main__container__content__body">
        <div class="main__container__content__body__name">
          <div class="main__container__content__body__name__user">user name</div>
            <div class="main__container__content__body__name__time">2019-01-28 00:00:00</div>
        </div>
          <p class="message">こんにちは
        </p>
      </div>
<div class="main__container__content__body">
        <div class="main__container__content__body__name">
          <div class="main__container__content__body__name__user">user name</div>
            <div class="main__container__content__body__name__time">2019-01-28 00:00:00</div>
        </div>
          <p class="message">おはよう
        </p>
      </div>
