.main {
  float: left;
  width: calc( 100vw - 300px );
  height: 100vh;
  &__header {
    height: 13%;
    border: 1px solid $offwhite;
    &-content {
      margin: 0 40px;
      &-title {
        margin-top: 28px;
        &__group {
          margin: 7px 0 10px;
          width: 50%;
          font-size: 20px;
          color: #333333;
          float: left;
        }
        &__btn {
          float: right;
          color: $lightblue;
          padding: 15px 20px;
          border: 1px solid $lightblue;
          }
      &-name {
        width:50%;
        clear: both;
        font-size: 12px;
        color: $gray;
            }
          }
        }
      }
  &__container {
    background-color: $offwhite;
    height:calc( 100vh - 13% - 92px );
    overflow: scroll;
      &-content {
        height: 100%;
        margin: 0 40px;
        &-body {
            float: left;
            display: inline-block;
            width: 80%;
            margin-top: 46px ;
            &-name {
                display: inline-block;
                &--user {
                    float: left;
                    font-size: 16px;
                    line-height: 20px;
                    color: #434A54;
                    font-style: bold;
                  }
                &--time {
                    float: left;
                    margin: 1px 0 0 10px;
                    font-size: 12px;
                    line-height: 20px;
                    color: $gray;
                        }
                      }
              p.lower-message__content{
                text-align: left;
                font-size: 14px;
                margin-top: 10px;
              }
            }
          }
        }
}
